h2 {
	margin-bottom: 1rem;
}

ol, ul {
	list-style-position: inside;
}

code {
	background: #fff;
}

x-deck > x-card {
	transition-property: all;
	transition-duration: 0.5s;
}

x-deck > x-card[card-anim-type=fade]:not([reverse])[selected][before-animation] {
	opacity: 0;
}

x-deck > x-card[card-anim-type=fade]:not([reverse])[leaving]:not([before-animation]) {
	opacity: 0;
}
x-deck > x-card[card-anim-type=fade][reverse][selected][before-animation] {
	opacity: 0;
}
x-deck > x-card[card-anim-type=fade][reverse][leaving]:not([before-animation]) {
	opacity: 0;
}

ul.features li {
	list-style-type: none;
}

.cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/*display: flex;
	align-items: stretch;
	flex-direction: column;
	flex-flow: column;*/

}

.cover h1, .cover h2 {
	color: #eee;
	text-shadow: 1px 1px 0px #000;
	background: rgba(0, 0, 0, 0.3);
	display: inline-block;
	padding: 0 0.25rem;
}

.cover p, .cover ul {
	color: #fff;
	text-shadow: 1px 1px 0px #000;
}

.credits {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #333;
	background: rgba(255, 255, 255, 0.3);
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
}

#example_button {
	font-size: 6rem;
}

#example_range {
	transform: scale(6);
	-webkit-transform: scale(3);
	transform-origin: left top;
	-webkit-transform-origin: left top;
}

#example_web_bell {
	font-size: 4rem;
}

web-bell {
	display: inline-block;
	border: 1px solid #999;
	background: #ddd;
	background: linear-gradient(180deg, #eee, #ccc);
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
	padding: 1rem;
	transition: 0.5s all;
	border-radius: 0.25rem;
}

web-bell:active {
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

ul.inline li {
	display: inline;
}

ul.inline li+li:before {
	content: " / ";
}
